<footer id="footer" class="footer light-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="d-flex align-items-center">
          <img src="/assets/img/logo_nobg.png" alt="incuas logo" style="width: 215px; height: 145px;">
          <!-- <span class="sitename">Incuas</span> -->
        </a>
        <div class="footer-contact pt-3">
          <p>
            INCUAS Srl
            Via Anton Giulio Barrili, 24 - Milano(MI) 20141
            P.I.- C.F.- Reg. Imp. di MI - 14598130962
            Numero REA: MI - 2794463
            Capitale Sociale € 10.000,00 i.v.
          </p>
        </div>
        <!-- <div class="social-links d-flex mt-4">
            <h4>Social</h4>
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/incuas_italia?igsh=dmNrMzRjaDlja25s" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/gruppo-incuas" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div> -->
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Link utili</h4>
        <ul>
          <li><a href="/index.html#hero">Home</a></li>
          <li><a href="/index.html#about">Chi siamo</a></li>
          <li><a href="/index.html#services">Servizi</a></li>
          <li><a href="/index.html#jobs">Lavora Con Noi</a></li>
          <li><a href="/index.html#contact">Contatti</a></li>
        </ul>
      </div>


      <div class="col-lg-4 col-md-3 footer-links">
        <h4>Contatti</h4>
        <div class="info-item m-3" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-geo-alt flex-shrink-0 footer-icon"></i>
          <div>
            <!-- <h3>Location</h3> -->
            <p style="margin: 0;">Via Anton Giulio Barrili, 24 - Milano (MI) 20141</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item m-3" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-telephone flex-shrink-0 footer-icon"></i>
          <div>
            <!-- <h3>Call Us</h3> -->
            <p style="margin: 0;"> 338 407 0664</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item m-3" data-aos="fade-up" data-aos-delay="500">
          <i class="bi bi-envelope flex-shrink-0 footer-icon"></i>
          <div>
            <!-- <h3>Email Us</h3> -->
            <p style="margin: 0;">info@incuas.it</p>
          </div>
        </div><!-- End Info Item -->

      </div>

      <div class="col-lg-2 col-md-3 footer-links" style="float: end;">
        <h4>Social</h4>
        <div class=" social-links" style="display: flex;">
          <a href="https://www.instagram.com/incuas_italia?igsh=M2w2YnlyNHVxcThi&utm_source=qr" target="_blank"><i
              class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/company/gruppo-incuas" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <!-- <div class="col-lg-2 col-md-3 footer-links">
          <h4>Hic solutasetp</h4>
          <ul>
            <li><a href="#">Molestiae accusamus iure</a></li>
            <li><a href="#">Excepturi dignissimos</a></li>
            <li><a href="#">Suscipit distinctio</a></li>
            <li><a href="#">Dilecta</a></li>
            <li><a href="#">Sit quas consectetur</a></li>
          </ul>
        </div> -->

      <!--
        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Nobis illum</h4>
          <ul>
            <li><a href="#">Ipsam</a></li>
            <li><a href="#">Laudantium dolorum</a></li>
            <li><a href="#">Dinera</a></li>
            <li><a href="#">Trodelas</a></li>
            <li><a href="#">Flexo</a></li>
          </ul>
        </div>
      -->

    </div>
  </div>

  <div class="container copyright text-center mt-4 justify-content-between d-flex">
    <p>© 2026 <span>Copyright</span> <strong class="px-1 sitename">Incuas S.R.L</strong> <span>Tutti i diritti
        reservati</span></p>
    <div class="d-flex justify-content-center gap-4">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you've purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href=“https://themewagon.com>ThemeWagon -->
      <span><a href="/privacy-policy">Privacy Policy</a></span>
      <span><a href="/terms-conditions">Termini e Condizioni</a></span>
      <span><a href="/cookie-policy">Cookie Policy</a></span>
    </div>

</footer>